<section class="section-block featured-media window-height tm-slider-parallax-container">
  <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140" data-scale-min-height="500">
     <ul class="tms-slides">

       <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.35">
          <div class="tms-content">
             <div class="tms-content-inner center v-align-middle">
                <div class="row">
                   <div class="column width-12">

                      <h1 class="title-large color-white mb-30">
                         <span class="tms-caption monotype tms-caption-background-3 responsive-color" data-animate-in="preset:slideInDownShort;duration:800ms;delay:200;" data-no-scale>Militarization does not solve</span>
                         <span class="tms-caption monotype tms-caption-background-3 responsive-color" data-animate-in="preset:slideInDownShort;duration:800ms;delay:200;" data-no-scale>a social crisis</span>
                      </h1>
                      <p class="tms-caption lead-aplus weight-regular color-white mb-30 no-scale monotype l-contained" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:400ms;" data-no-scale="" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); opacity: 1; transform-origin: 50% 50% 0px; visibility: visible;">
                        The main item in citizens’ demands is clear: <strong>no more abuse</strong>. To initiate a meaningful dialogue and reach concrete political solutions to social discontent, it is necessary to end militarization. It just makes the crisis worse, <strong>affecting the rights of those who are more vulnerable. </strong>
                      </p>
                      <div id="share" class="post-share center">
                        <a onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + 'https%3A%2F%2Fciudadaniai.org%2Fcrisis.html', 'sharer', 'width=626,height=436');" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-facebook color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-facebook left"></span> Share on Facebook</a>
                        <a onclick="popUp=window.open('https://twitter.com/intent/tweet?text={{ page.share_message }}&url={{ site.url }}{{ page.url }}&related={{ site.twitter_username }}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-twitter color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-twitter left"></span> Share on Twitter</a>
                      </div>

                   </div>
                </div>
             </div>
          </div>
          <img data-src="{{ '/assets/images/crisis-bg.jpg' | prepend:site.baseurl_root }}" data-retina src="" alt="" />
       </li>

     </ul>
  </div>
</section>


<section class="block-content t-block-teal pt-100 pb-100">
  <div class="l-contained">
   <h2 class="monotype">Armed forces are not trained to interact with civil population.</h2>
    <img class="center pb-30 pt-30" src="{{site.baseurl_root}}/assets/images/no-guerra.png" max-width="760" alt="" />
   <p class="subtitle monotype">
     Soldiers are trained to use force to conquer the enemy during combat. This makes them <a href="https://www.wola.org/es/analisis/guardia-nacional-mexico-abusos-militares/">incapable of being in close contact with civilians</a>. This is already a complex task for the police, trained to deal with citizens. It is even worse for Armed Forces.
   </p>
   <div id="share" class="post-share center">
     <a onclick="popUp=window.open('https://twitter.com/intent/tweet?text={{ page.share_message_1 }}&url={{ site.url }}{{ page.url }}&related={{ site.twitter_username }}&hashtags=NoEstamosEnGuerra', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-twitter color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-twitter left"></span> Share on Twitter</a>
   </div>

    <h2 class="monotype l-contained">It weakens rights, <strong>especially of the poor.</strong></h2>
      <img class="center pb-30 pt-30" src="{{site.baseurl_root}}/assets/images/ddhh-militares.png" max-width="760" alt="" />
    <p class="subtitle monotype">
      Latin American countries that have opted for militarization register a profound impact on human rights, <a href="https://www.cels.org.ar/militarizacion/">according to a study by CELS</a>. These violations have gone from affecting the right to life, freedom, and physical integrity of thousands of people to worrying limitation of political and social fundamental rights such as the right to protest,  to migrate and freedom of speech. The presence of the military in conflictive neighborhoods raises the number of lethal victims in cross-fire, including children.
    </p>
    <div id="share" class="post-share center">
      <a onclick="popUp=window.open('https://twitter.com/intent/tweet?text={{ page.share_message_2 }}&url={{ site.url }}{{ page.url }}&related={{ site.twitter_username }}&hashtags=NoEstamosEnGuerra', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-twitter color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-twitter left"></span> Share on Twitter</a>
    </div>

    <h2 class="monotype l-contained">
      It is a short-term decision with high political costs, which <strong>diverts attention and resources from social problems. </strong>
    </h2>
    <img class="center pb-30 pt-30" src="{{site.baseurl_root}}/assets/images/militares-chile.png" max-width="760" alt="" />
    <p class="subtitle monotype">
      Militarization does not solve delinquency or violence and it is at the same time an <strong>obstacle to think about real solutions</strong>. Hardening measures, a typical response of punitive demagogy, is justified by supposed popular demands for a “strong fist” but instead of translating these demands in democratic and inclusive policies, the feed violence and hate.
    </p>
    <div id="share" class="post-share center">
      <a onclick="popUp=window.open('https://twitter.com/intent/tweet?text={{ page.share_message_3 }}&url={{ site.url }}{{ page.url }}&related={{ site.twitter_username }}&hashtags=NoEstamosEnGuerra', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-twitter color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-twitter left"></span> Share on Twitter</a>
    </div>
    <!-- <h2 class="monotype l-contained">La historia enseña que <strong>no funciona</strong>.</h2> -->


</div>
</section>


<section id="proyectos" class="pt-100 pb-100">
      <h2 class="monotype center"> History proves that it does <strong>not work</strong></h2>
   <div class="section-block grid-container  fade-in-progressively no-padding-top pb-30" data-layout-mode="masonry" data-grid-ratio="1.5" data-animate-filter-duration="700" data-animate-resize data-animate-resize-duration="700">
      <div class="row">
         <!-- <div class="column width-12 center">
            <p class="chile l-contained monotype"> El gobierno y los representantes políticos, deben hacerse cargo de la <strong>desconexión brutal que existe entre la ciudadanía y sus representantes</strong>. Para ello, rescatamos algunas de las propuestas en las que hemos venido trabajando los últimos 10 años y que creemos necesitan las democracias de América Latina para representar verdaderamente a la ciudadanía:  </p>
         </div> -->
       <div class="column width-12 pb-100">
            <div class="row grid content-grid-4">
               <div class="grid-item container-projects grid-sizer">
                  <div class="item-description">
                    <img class="center pt-30" src="{{site.baseurl_root}}/assets/images/brasil.png" max-width="760" alt="" />
                     <h3 class="project-title monotype">Brazil / 2018</h3>
                     <p class="monotype pb-200">[*] 10 months of intervention in the streets of Rio de Janeiro.<br>[*] Shootings were increased by 59%.<br>[*] More than 4 thousand killed.<br>[*] Death toll increased in 40% from police interventions alone.</p>
                  </div>
               </div>
               <div class="grid-item container-projects grid-sizer">
                  <div class="item-description">
                    <img class="center pt-30" src="{{site.baseurl_root}}/assets/images/ecuador.png" max-width="760" alt="" />
                     <h3 class="project-title monotype">Ecuador / 2019</h3>
                     <p class="monotype pb-200">[*] State of exception between October 2 and 13, 2019.<br>[*] Curfew from October the 8th until October the 13rd.<br>[*] 1192 were detained<br>[*] 8 died<br>[*] 1340 were wounded</p>
                  </div>
               </div>
               <div class="grid-item container-projects grid-sizer">
                  <div class="item-description">
                    <img class="center pt-30" src="{{site.baseurl_root}}/assets/images/honduras.png" max-width="760" alt="" />
                     <h3 class="project-title monotype">Honduras/ 2017</h3>
                     <p class="monotype pb-200">[*] After electoral fraud manifestations, powers were given to the military between November 29 and December 31, 2017.<br>[*] Lasted one month<br>[*] 1085 were detained <br>[*] 30 were executed<br>[*] 232 were wounded</p>
                  </div>
               </div>
               <div class="grid-item container-projects grid-sizer">
                  <div class="item-description">
                    <img class="center pt-30" src="{{site.baseurl_root}}/assets/images/mexico.png" max-width="760" alt="" />
                     <h3 class="project-title monotype">Mexico/ 2015 -2016</h3>
                     <p class="monotype pb-200">[*] Between 2015 and 2016, citizens called out the usage of excessive force from the military.<br>[*] 37 complaints for deprivation of personal freedom<br>[*] 12 cases of forced dissapearances<br>[*] 36 people tortured<br>[*] 372 complaints for cruel and inhuman treatment</p>
                  </div>
               </div>
            </div>
         </div>
       </div>
   </div>

   <div id="share" class="post-share center">
     <a onclick="popUp=window.open('https://twitter.com/intent/tweet?text={{ page.share_message_4 }}&url={{ site.url }}{{ page.url }}&related={{ site.twitter_username }}&hashtags=NoEstamosEnGuerra', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-twitter color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-twitter left"></span> Share on Twitter</a>
   </div>


</section>


    <section class="block-content t-block-teal pt-100">
      <div class="l-contained">
    <h2 class="monotype">Resources:</h2>

       <p class="subtitle l-contained monotype">
         Police Violence  - Human Rights Violation: The Human Rights National Institute (INDH) assists citizens in those cases. To report a violation, contact the institute at: <a href="mailto:denuncias@indh.cl">denuncias@indh.cl</a> and include: Details to the situation, date, time, place of ocurrence and other proof to support your story.
       </p>
       <p class="subtitle l-contained monotype">
         Legal assistance in case of detention (Santiago): the FeCh, ABOFEM, the  Centro de Estudiantes de Derecho from Universidad de Chile  and the  foundation La Casa Común offer free legal help from lawyers to those who are facing illegal custody. To contact them, you can fill in <a href="https://docs.google.com/forms/d/e/1FAIpQLSc9Q5MHGxZaMv5j5HcNevgvgbq3BPvMC6C2USyjk8dxqtSqHg/viewform">this form</a>, send an email to: <a href="mailto:piketejuridicouch@gmail.com">piketejuridicouch@gmail.com or</a> WhatsApp at +569 3620 3403
       </p>
       <p class="subtitle l-contained monotype">
         The NGO DerechosDigitales compiles <strong>technological tools</strong> for safe communication, information checking and reporting of events. <a href="https://twitter.com/derechosdigital/status/1186032169069662208?s=20">We invite you to review and present them with people that lack technological knowledge.</a>
       </p>
       <p class="subtitle l-contained monotype ultima">
         <strong>Get access to medication:</strong> Those in need to access medication urgently and can't find open pharmacies,  can write directly to the Chilean Pharmaceutial College at( <a href="mailto:comunicaciones@colegiofarmaceutico.cl">comunicaciones@colegiofarmaceutico.cl</a>) or check information from their <a href="https://twitter.com/ColegioQFyBQ">Twitter</a>  account to discover where to find them.
       </p>
</div>
</section>
