<section class="section-block featured-media window-height tm-slider-parallax-container">
  <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140" data-scale-min-height="500">
     <ul class="tms-slides">
       <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.35">
          <div class="tms-content">
             <div class="tms-content-inner center v-align-middle">
                <div class="row">
                   <div class="column width-12">
                      <h1 class="title-large color-white mb-30">
                         <span class="tms-caption monotype tms-caption-background-3 responsive-color" data-animate-in="preset:slideInDownShort;duration:800ms;delay:200;" data-no-scale>La militarización no soluciona</span>
                         <span class="tms-caption monotype tms-caption-background-3 responsive-color" data-animate-in="preset:slideInDownShort;duration:800ms;delay:200;" data-no-scale>la crisis social</span>
                      </h1>
                      <p class="tms-caption lead-aplus weight-regular color-white mb-30 no-scale monotype l-contained" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:400ms;" data-no-scale="" style="transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); opacity: 1; transform-origin: 50% 50% 0px; visibility: visible;">
                         La principal demanda de la ciudadanía es clara: <strong>No más abusos</strong>. Para iniciar un diálogo profundo y alcanzar soluciones políticas concretas al descontento social, es necesario primero terminar con la militarización que sólo agudiza la crisis <strong>y afecta más los derechos de quienes tienen menos</strong>.
                      </p>
                      <div id="share" class="post-share center">
                        <a onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + 'https%3A%2F%2Fciudadaniai.org%2Fcrisis.html', 'sharer', 'width=626,height=436');" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-facebook color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-facebook left"></span> Compartir en Facebook</a>
                        <a onclick="popUp=window.open('https://twitter.com/intent/tweet?text={{ page.share_message }}&url={{ site.url }}{{ page.url }}&related={{ site.twitter_username }}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-twitter color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-twitter left"></span> Compartir en Twitter</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <img data-src="{{ '/assets/images/crisis-bg.jpg' | prepend:site.baseurl_root }}" data-retina src="" alt="" />
       </li>

     </ul>
  </div>
</section>


<section class="block-content t-block-teal pt-100 pb-100">
  <div class="l-contained">
   <h2 class="monotype">Las fuerzas armadas no están entrenadas para interactuar con la población civil.</h2>
    <img class="center pb-30 pt-30" src="{{site.baseurl_root}}/assets/images/no-guerra.png" max-width="760" alt="" />
   <p class="subtitle monotype">
      Los soldados están entrenados para usar la fuerza para vencer a un enemigo en situaciones de combate, haciéndolos <a href="https://www.wola.org/es/analisis/guardia-nacional-mexico-abusos-militares/">incapaces de estar en contacto cercano con civiles</a>. Si esto ya es complejo para fuerzas policiales entrenadas, peor aún para las Fuerzas Armadas.
   </p>
   <div id="share" class="post-share center">
     <a onclick="popUp=window.open('https://twitter.com/intent/tweet?text={{ page.share_message_1 }}&url={{ site.url }}{{ page.url }}&related={{ site.twitter_username }}&hashtags=NoEstamosEnGuerra', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-twitter color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-twitter left"></span> Compartir en Twitter</a>
   </div>

    <h2 class="monotype l-contained">Debilita derechos, <strong>sobre todos de los más pobres</strong>.</h2>
      <img class="center pb-30 pt-30" src="{{site.baseurl_root}}/assets/images/ddhh-militares.png" max-width="760" alt="" />
    <p class="subtitle monotype">
      Los países de América Latina que adoptaron la militarización,<a href="https://www.cels.org.ar/militarizacion/"> de acuerdo a un estudio de CELS</a>, registran una serie de impactos graves en derechos humanos: vulneraciones que van desde la afectación del derecho a la vida, la libertad y la integridad física de miles de personas, hasta formas preocupantes de limitación de derechos políticos y sociales fundamentales como el derecho a la protesta, a la libre expresión y a la migración. La presencia militar en barrios conflictivos aumenta el número de víctimas letales de fuego cruzado, incluyendo niños.
    </p>
    <div id="share" class="post-share center">
      <a onclick="popUp=window.open('https://twitter.com/intent/tweet?text={{ page.share_message_2 }}&url={{ site.url }}{{ page.url }}&related={{ site.twitter_username }}&hashtags=NoEstamosEnGuerra', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-twitter color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-twitter left"></span> Compartir en Twitter</a>
    </div>

    <h2 class="monotype l-contained">Es una decisión costosa, de corto plazo, que <strong>desvía atención y recursos de los problemas sociales</strong>.</h2>
    <img class="center pb-30 pt-30" src="{{site.baseurl_root}}/assets/images/militares-chile.png" max-width="760" alt="" />
    <p class="subtitle monotype">
      La militarización no resuelve los problemas del delito y la violencia y es al mismo tiempo un <strong>obstáculo para pensar soluciones reales</strong>. Las medidas de endurecimiento típicas de la demagogia punitiva se justifican en supuestas demandas populares de “mano dura”, pero en lugar de traducir estas demandas en políticas democráticas e inclusivas, alimentan la violencia y el odio.
    </p>
    <div id="share" class="post-share center">
      <a onclick="popUp=window.open('https://twitter.com/intent/tweet?text={{ page.share_message_3 }}&url={{ site.url }}{{ page.url }}&related={{ site.twitter_username }}&hashtags=NoEstamosEnGuerra', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-twitter color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-twitter left"></span> Compartir en Twitter</a>
    </div>
    <!-- <h2 class="monotype l-contained">La historia enseña que <strong>no funciona</strong>.</h2> -->


</div>
</section>

<section id="proyectos" class="pt-100 pb-100">
      <h2 class="monotype center">La historia enseña que <strong>no funciona</strong></h2>
   <div class="section-block grid-container  fade-in-progressively no-padding-top pb-30" data-layout-mode="masonry" data-grid-ratio="1.5" data-animate-filter-duration="700" data-animate-resize data-animate-resize-duration="700">
      <div class="row">
         <!-- <div class="column width-12 center">
            <p class="chile l-contained monotype"> El gobierno y los representantes políticos, deben hacerse cargo de la <strong>desconexión brutal que existe entre la ciudadanía y sus representantes</strong>. Para ello, rescatamos algunas de las propuestas en las que hemos venido trabajando los últimos 10 años y que creemos necesitan las democracias de América Latina para representar verdaderamente a la ciudadanía:  </p>
         </div> -->
       <div class="column width-12 pb-100">
            <div class="row grid content-grid-4">
               <div class="grid-item container-projects grid-sizer">
                  <div class="item-description">
                    <img class="center pt-30" src="{{site.baseurl_root}}/assets/images/brasil.png" max-width="760" alt="" />
                     <h3 class="project-title monotype">Brasil / 2018</h3>
                     <p class="monotype pb-200">[*] 10 meses de intervención en las calles de Río de Janeiro.<br>[*] Se registró un aumento del 59% en tiroteos.<br>[*] Más de 4 mil homicidios.<br>[*] Aumentó en un 40% la muertes debido a la intervención policial.</p>
                  </div>
               </div>
               <div class="grid-item container-projects grid-sizer">
                  <div class="item-description">
                    <img class="center pt-30" src="{{site.baseurl_root}}/assets/images/ecuador.png" max-width="760" alt="" />
                     <h3 class="project-title monotype">Ecuador / 2019</h3>
                     <p class="monotype pb-200">[*] Estado de excepción entre el 2 y el 13 de octubre de 2019.<br>[*] Toque de queda entre los días 8 y 13 de octubre.<br>[*] Detenidos: 1192<br>[*] Muertos: 8<br>[*] Heridos: 1340</p>
                  </div>
               </div>
               <div class="grid-item container-projects grid-sizer">
                  <div class="item-description">
                    <img class="center pt-30" src="{{site.baseurl_root}}/assets/images/honduras.png" max-width="760" alt="" />
                     <h3 class="project-title monotype">Honduras/ 2017</h3>
                     <p class="monotype pb-200">[*] Se entregan atribuciones a militares tras protestas por fraude electoral entre 29 de noviembre y el 31 de diciembre de 2017.<br>[*] Duración: 1 mes<br>[*] Detenidos: 1085 <br>[*] Ejecutados: 30<br>[*] Heridos: 232</p>
                  </div>
               </div>
               <div class="grid-item container-projects grid-sizer">
                  <div class="item-description">
                    <img class="center pt-30" src="{{site.baseurl_root}}/assets/images/mexico.png" max-width="760" alt="" />
                     <h3 class="project-title monotype">México/ 2015 -2016</h3>
                     <p class="monotype pb-200">[*] Entre 2015 y 2016  la ciudadanía denunció el uso de fuerza desmedida por parte de fuerzas militares.<br>[*] 37 denuncias por privación de la libertad.<br>[*] 12 casos de desaparición forzada.<br>[*] 36 personas torturadas.<br>[*] 372 denuncias por trato cruel e inhumano.</p>
                  </div>
               </div>
            </div>
         </div>
       </div>
   </div>

   <div id="share" class="post-share center pt-100">
     <a onclick="popUp=window.open('https://twitter.com/intent/tweet?text={{ page.share_message_4 }}&url={{ site.url }}{{ page.url }}&related={{ site.twitter_username }}&hashtags=NoEstamosEnGuerra', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false;" href="javascript: void(0)" class="button rounded medium bkg-white bkg-hover-twitter color-grey color-hover-white mb-30 mb-mobile-20"><span class="icon-twitter left"></span> Compartir en Twitter</a>
   </div>
</section>

    <section class="block-content t-block-teal pt-100">
      <div class="l-contained black">
    <h2 class="monotype">Recursos:</h2>
  <img class="center pt-30" src="{{site.baseurl_root}}/assets/images/denuncia.png" max-width="760" alt="" />
       <p class="subtitle l-contained monotype">
          Violencia policial  - Violaciones de Derechos Humanos: El Instituto Nacional de Derechos Humanos (INDH) asiste a la ciudadanía en estos casos. Para hacer una denuncia escríbeles a <a href="mailto:denuncias@indh.cl">denuncias@indh.cl</a> e incluye: Detalles de la situación, fecha, hora, lugar donde ocurrieron los hechos y otras informaciones que respalden tu caso.
       </p>
       <img class="center pt-30" src="{{site.baseurl_root}}/assets/images/abogados.png" max-width="760" alt="" />
       <p class="subtitle l-contained monotype">
          Asistencia jurídica en caso de detención (Santiago): La FeCh, ABOFEM, el Centro de Estudiantes de Derecho de la Universidad de Chile y La fundación Casa Común ofrecen ayuda de abogadxs de forma gratuita a quienes hayan sufrido detenciones. Para contactarles, existe un <a href="https://docs.google.com/forms/d/e/1FAIpQLSc9Q5MHGxZaMv5j5HcNevgvgbq3BPvMC6C2USyjk8dxqtSqHg/viewform">formulario web</a>, o también se puede hacer al correo <a href="mailto:piketejuridicouch@gmail.com">piketejuridicouch@gmail.com</a> y el WhatsApp <a href="tel:+56936203403">+569 3620 3403</a>.
       </p>
        <img class="center pt-30" src="{{site.baseurl_root}}/assets/images/derechos-digitales.png" max-width="760" alt="" />
       <p class="subtitle l-contained monotype">
          La ONG Derechos Digitales compila <strong>herramientas tecnológicas</strong> para comunicarse de forma segura, comprobar información y documentar la situación. <a href="https://twitter.com/derechosdigital/status/1186032169069662208?s=20">Te invitamos a revisarlas y enseñarlas</a> a personas que no tienen mucho conocimiento tecnológico.
       </p>
        <img class="center pt-30" src="{{site.baseurl_root}}/assets/images/medicina.png" max-width="760" alt="" />
       <p class="subtitle l-contained monotype ultima">
          <strong>Conseguir medicamentos:</strong> Quienes tengan que conseguir medicamentos de forma urgente y no encuentran farmacias abiertas, pueden escribir al Colegio Farmacéutico de Chile( <a href="mailto:comunicaciones@colegiofarmaceutico.cl">comunicaciones@colegiofarmaceutico.cl</a>) o revisar información en su cuenta de <a href="https://twitter.com/ColegioQFyBQ">Twitter</a> para saber dónde encontrarlos.
       </p>
</div>
</section>
