<!-- Fullscreen Sections -->
<section class="fullscreen-sections-wrapper no-navigation">
  <div class="section-block fullscreen-section no-overlay bkg-black">
    <div class="fullscreen-inner no-overlay">
      <div class="row">
        <div class="column width-8 offset-2 center">
          <h1 class="status-code-title mb-20 horizoncolor-white color-white" data-animate-in="preset:scaleIn;duration:1000ms;delay:100ms;">
            <img id="js-img" src="{{site.url}}" style="height:250px;"></img>
          </h1>
          <!-- Aleatoriamente se cargará una frase acá, usando el js 404.js -->
          <h2 id="js-404" data-language={{site.lang}} class="title-large mb-30 color-white tms-caption-background"></h2>
          <p class="color-white">{% t 404.text %}</p>
          <a href="{{site.baseurl}}/index.html" class="button medium rounded bkg-theme bkg-hover-grey color-white color-hover-white">{% t 404.home %}</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Fullscreen Sections End -->
