<!-- Content -->
<div class="content clearfix">
   <!-- About Section -->
   <section class="section-block featured-media page-intro tm-slider-parallax-container">
      <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide"
         data-scale-under="1140">
         <ul class="tms-slides">
            <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000"
               data-overlay-bkg-opacity="0.35">
               <div class="tms-content">
                  <div class="tms-content-inner center">
                     <div class="row">
                        <div class="column width-12">
                           <h2 class="tms-caption title-medium color-white mb-20 center"
                              data-animate-in="preset:scaleOut;duration:500ms;" data-no-scale>
                              {% t about_fci.title %}<br>{% t about_fci.title_2 %}
                           </h2>
                           <br>
                              <a data-toolbar=""
                                 href="https://www.youtube.com/embed/jEBwqGQ1cd8?autoplay=1&amp;showinfo=0&amp;loop=1"
                                 class="lightbox-link button rounded bkg-colectiva bkg-hover-pink color-white color-hover-white hvr-grow"><span
                                 class="icon-youtube left"></span>{% t about_fci.video %}</a>
                        </div>
                     </div>
                  </div>
               </div>
               <img data-src="{{site.baseurl_root}}/assets/images/about.jpg" data-retina src=""
                  alt="" />
            </li>
         </ul>
      </div>
   </section>
   <!-- About Section -->
  <!-- About Content Section -->
   <section class="section-block replicable-content bkg-grey-ultralight">
      <div class="row">
         <div class="column width-12 center">
            <h2 class="mb-50"> {% t about_fci.content.hacemos.title %}</h2>
         </div>
      </div>
      <div class="row flex pu-30">
         <div class="column width-4">
            <div class="feature-column">
               <span class="title-large pd-60 font-alt-1 opacity-01 tms-caption-background responsive-color2">01</span>
               <h5 class="margin-50">{% t about_fci.content.hacemos.desarrollamos_title %}</h5>
               <p>{% t about_fci.content.hacemos.desarrollamos_text %}</p>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column">
               <span class="title-large pd-60 font-alt-1 opacity-01 tms-caption-background responsive-color2">02</span>
               <h5 class="margin-50">{% t about_fci.content.hacemos.entregamos_title %}</h5>
               <p>{% t about_fci.content.hacemos.entregamos_text%}</p>
            </div>
         </div>
         <div class="column width-4">
            <div class="feature-column">
               <span class="title-large pd-60 font-alt-1 opacity-01 tms-caption-background responsive-color2">03</span>
               <h5 class="margin-50">{% t about_fci.content.hacemos.disenamos_title %}</h5>
               <p>{% t about_fci.content.hacemos.disenamos_text %}</p>
            </div>
         </div>
      </div>
   </section>
  <!-- About Content Section -->
   <div id="intro" class="section-block replicable-content bkg-grey-ultralight pt-0">
      <div class="row">
         <div class="column width-12 center">
            <h2 class="mb-0">
               {% t about_fci.content.ciudadania_numeros.title %}
            </h2>
         </div>
      </div>
   </div>

   <div class="section-block pt-0 stats-3 center bkg-grey-ultralight">
      <div class="row">
         <div class="column width-12">
            <div class="row content-grid-3 flex">
               <div class="grid-item mega-stat v-align-middle">
                  <div class="stat">
                     <div class="stat-inner">
                        <h5 class="mb-20 tms-caption-background responsive-color2">
                           {% t about_fci.content.ciudadania_numeros.organizaciones_title %}
                        </h5>
                        <p class="counter weight-bold"><span class="stat-counter" data-count-from="000"
                           data-count-to="100" data-count-interval="001">{% t about_fci.content.ciudadania_numeros.organizaciones_counter %}</span>+
                        </p>
                        <p class="description mt-10">
                           {% t about_fci.content.ciudadania_numeros.organizaciones_description %}
                        </p>
                     </div>
                  </div>
               </div>
               <div class="grid-item mega-stat v-align-middle">
                  <div class="stat">
                     <div class="stat-inner">
                        <h5 class="mb-20 tms-caption-background responsive-color2">
                        {% t about_fci.content.ciudadania_numeros.herramientas_title %}</h6>
                        <p class="counter weight-bold"><span class="stat-counter" data-count-from="000"
                           data-count-to="181" data-count-interval="001">{% t about_fci.content.ciudadania_numeros.herramientas_counter %}</span>
                        </p>
                        <p class="description mt-10">
                           {% t about_fci.content.ciudadania_numeros.herramientas_description %}
                        </p>
                     </div>
                  </div>
               </div>
               <div class="grid-item mega-stat v-align-middle">
                  <div class="stat">
                     <div class="stat-inner">
                        <h5 class="mb-20 tms-caption-background responsive-color2">
                           {% t about_fci.content.ciudadania_numeros.paises_title %}
                        </h5>
                        <p class="counter weight-bold"><span class="stat-counter" data-count-from="00"
                           data-count-to="13" data-count-interval="01">{% t about_fci.content.ciudadania_numeros.paises_counter %}</span>
                        </p>
                        <p class="description mt-10">
                           {% t about_fci.content.ciudadania_numeros.paises_description %}
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="section-block pt-0 stats-3 center bkg-grey-ultralight">
      <div class="row">
         <div class="column width-12">
            <div class="row content-grid-3 flex">
               <div class="grid-item mega-stat v-align-middle">
                  <div class="stat">
                     <div class="stat-inner">
                        <h5 class="mb-20 tms-caption-background responsive-color2">
                           {% t about_fci.content.ciudadania_numeros.activistas_formados_title %}
                        </h5>
                        <p class="counter weight-bold"><span class="stat-counter" data-count-from="0000"
                           data-count-to="1650" data-count-interval="0025">{% t about_fci.content.ciudadania_numeros.activistas_formados_counter %}</span>+
                        </p>
                        <p class="description mt-10">
                           {% t about_fci.content.ciudadania_numeros.activistas_formados_description %}
                        </p>
                     </div>
                  </div>
               </div>
               <div class="grid-item mega-stat v-align-middle">
                  <div class="stat">
                     <div class="stat-inner">
                        <h5 class="mb-20 tms-caption-background responsive-color2">
                           {% t about_fci.content.ciudadania_numeros.personas_title %}
                        </h5>
                        <p class="counter weight-bold"><span class="stat-counter" data-count-from="598750"
                           data-count-to="600000" data-count-interval="000125" data-count-interval="0065">{% t about_fci.content.ciudadania_numeros.personas_counter %}</span>+
                        </p>
                        <p class="description mt-10">
                           {% t about_fci.content.ciudadania_numeros.personas_description %}
                        </p>
                     </div>
                  </div>
               </div>
               <div class="grid-item mega-stat v-align-middle">
                  <div class="stat">
                     <div class="stat-inner">
                        <h5 class="mb-20 tms-caption-background responsive-color2">
                           {% t about_fci.content.ciudadania_numeros.seguidores_rrss_title %}
                        </h5>
                        <p class="counter weight-bold"><span class="stat-counter" data-count-from="198750"
                           data-count-to="200000" data-count-interval="000125">{% t about_fci.content.ciudadania_numeros.seguidores_rrss_counter %}</span>+
                        </p>
                        <p class="description mt-10">
                           {% t about_fci.content.ciudadania_numeros.seguidores_rrss_description%}
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>


   <div class="section-block">
      <div class="row">
         <div class="column width-12">
            <div class="row content-grid-1">
               <div class="grid-item">
                  <div class="team-content-info mb-mobile-50">
                     <h2 class="mb-50 center hvr-underline-from-center">
                        {% t about_fci.content.independencia.title %}
                     </h2>
                     <p>{% t about_fci.content.independencia.text01 %} </p>
                     <p>{% t about_fci.content.independencia.text02 %}
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
