<!-- Content -->
<div class="content clearfix">
  <!-- Full Width Slider Section -->
  <section class="section-block featured-media page-intro tm-slider-parallax-container">
    <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide"
      data-scale-under="1140">
      <ul class="tms-slides">
        <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000"
          data-overlay-bkg-opacity="0.35">
          <div class="tms-content">
            <div class="tms-content-inner center">
              <div class="row">
                <div class="column width-8 offset-2">
                  <h2 class="tms-caption color-white mb-20 center" data-animate-in="preset:scaleOut;duration:500ms;"
                    data-no-scale>
                    {% t documentation.title %}
                  </h2>
                  <br>
                  <a href="https://ciudadaniai.org/assets/attachments/estrategia-fci-2019.pdf" target="_blank"
                    class="button rounded bkg-colectiva bkg-hover-pink color-white color-hover-white hvr-grow"
                    style="display: none"><span class="icon-download left"></span>{% t documentation.button %}</a>

                </div>
              </div>
            </div>
          </div>
          <img data-src="{{site.baseurl_root}}/assets/images/estrategy.jpg" data-retina src="" alt="" />
        </li>
      </ul>
    </div>
  </section>
  <!-- Grid -->
  <div class="section-block">
    <div class="row">
      <div class="column width-12">
        <div class="row content-grid-1">
          <div class="grid-item">
            <div class="team-content-info mb-mobile-50">
              <h2 class="mb-50 center">
                {% t about_fci.content.independencia.subtitle %}
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row flex">

      <div class="column width-3">
        <div class="feature-column small left horizon"
          data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="1">
          <a href="https://ciudadaniai.org/assets/attachments/estrategia_fci_2021.pdf" target="_blank">
            <span class="feature-icon"><img src="{{site.baseurl_root}}/assets/images/pdf.png"></span>
            <div class="feature-text">
              <h5>{% t about_fci.content.item_estrategia %} </h5>
          </a>
        </div>
      </div>
    </div>

    <div class="column width-3">
      <div class="feature-column small left horizon"
        data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="1">
        <a href="https://ciudadaniai.org/assets/attachments/estatutos-FCI.pdf" target="_blank">
          <span class="feature-icon"><img src="{{site.baseurl_root}}/assets/images/pdf-1.png"></span>
          <div class="feature-text">
            <h5>{% t about_fci.content.item_estatutos %}</h5>
        </a>
      </div>
    </div>
  </div>

  <div class="column width-3">
    <div class="feature-column small left horizon"
      data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="1">
      <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vT6tQ_WD4n67-Fr8IDW2_donF5JHrjVc4c8NJlXBllcfauPyvvVBGkFNuz8WEBbdlbbF9XeqamGcexw/pubhtml"
        target="_blank">
        <span class="feature-icon"><img src="{{site.baseurl_root}}/assets/images/excel.png"></span>
        <div class="feature-text">
          <h5>Transparencia Directorio y Equipo Ejecutivo</h5>
        </div>
      </a>
    </div>
  </div>

  <div class="column width-3">
    <div class="feature-column small left horizon"
      data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="1">
      <a href="https://docs.google.com/document/d/1_mBOB2RZp1YOEuxtUMZjU1HiFIerAv7geWznlxQa9_w/edit" target="_blank">
        <span class="feature-icon"><img src="{{site.baseurl_root}}/assets/images/doc.png"></span>
        <div class="feature-text">
          <h5>Código de Conducta</h5>
        </div>
      </a>
    </div>
  </div>

</div>


<div class="row flex">

  <div class="column width-3">
    <div class="feature-column small left horizon"
      data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="1">
      <a href="https://docs.google.com/document/d/1eLWEcZ1onUU2TYg2x4lsrYfbyVmysdmDcV61cDGfsXs/edit" target="_blank">
        <span class="feature-icon"><img src="{{site.baseurl_root}}/assets/images/doc.png"></span>
        <div class="feature-text">
          <h5>{% t about_fci.content.item_manual %}</h5>
      </a>
    </div>
  </div>
</div>

<div class="column width-3">
  <div class="feature-column small left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;"
    data-threshold="1">
    <a href="https://docs.google.com/document/d/1hthbZDJ8f_2EeS5de9tlF1_BZ6fYJonpT8gKdMzcmMo/edit#heading=h.t7x2w3gvdihb"
      target="_blank">
      <span class="feature-icon"><img src="{{site.baseurl_root}}/assets/images/doc.png"></span>
      <div class="feature-text">
        <h5>{% t about_fci.content.item_protocolo %}</h5>
    </a>
  </div>
</div>
</div>

<div class="column width-3">
  <div class="feature-column small left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;"
    data-threshold="1">
    <a href="https://docs.google.com/document/d/1dODbhkGMZN_KP-a5sG9e452mxOalQstcBZhhYKE4wqI/edit#heading=h.fdemtev2ig9o"
      target="_blank">
      <span class="feature-icon"><img src="{{site.baseurl_root}}/assets/images/doc.png"></span>
      <div class="feature-text">
        <h5>{% t about_fci.content.item_manifiesto %}</h5>
    </a>
  </div>
</div>
</div>

<div class="column width-3">
  <div class="feature-column small left horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;"
    data-threshold="1">
    <a href="https://drive.google.com/file/d/1_3agD3Lp8wl7TYdXSwd0yfagWqTMtcz1/view" target="_blank">
      <span class="feature-icon"><img src="{{site.baseurl_root}}/assets/images/memoria.png"></span>
      <div class="feature-text">
        <h5>{% t about_fci.content.item_certificacion %}</h5>
      </div>
    </a>
  </div>
</div>

</div>

<div class="row flex">

  <div class="column width-3">
    <div class="feature-column small left horizon"
      data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="1">
      <a href="{{site.baseurl_root}}/assets/attachments/memoria_fci-2017.pdf" target="_blank">
        <span class="feature-icon"><img src="{{site.baseurl_root}}/assets/images/memoria.png"></span>
        <div class="feature-text">
          <h5>{% t about_fci.content.item_memoria2017%}</h5>
        </div>
      </a>
    </div>
  </div>

  <div class="column width-3">
    <div class="feature-column small left horizon"
      data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="1">
      <a href="{{site.baseurl_root}}/assets/attachments/memoria_ciudadaniai_2018.pdf" target="_blank">
        <span class="feature-icon"><img src="{{site.baseurl_root}}/assets/images/memoria.png"></span>
        <div class="feature-text">
          <h5>{% t about_fci.content.item_memoria2018 %}</h5>
        </div>
      </a>
    </div>
  </div>

  <div class="column width-3">
    <div class="feature-column small left horizon"
      data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="1">
      <a href="{{site.baseurl_root}}/assets/attachments/memoria_ciudadaniai_2019.pdf" target="_blank">
        <span class="feature-icon"><img src="{{site.baseurl_root}}/assets/images/memoria.png"></span>
        <div class="feature-text">
          <h5>{% t about_fci.content.item_memoria2019%}</h5>
        </div>
      </a>
    </div>
  </div>

  <div class="column width-3">
    <div class="feature-column small left horizon"
      data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="1">
      <a href="{{site.baseurl_root}}/assets/attachments/memoria_fci_2020.pdf" target="_blank">
        <span class="feature-icon"><img src="{{site.baseurl_root}}/assets/images/memoria.png"></span>
        <div class="feature-text">
          <h5>{% t about_fci.content.item_memoria2020%}</h5>
        </div>
      </a>
    </div>
  </div>

</div>

<div class="row flex">

  <div class="column width-3">
    <div class="feature-column small left horizon"
      data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="1">
      <a href="{{site.baseurl_root}}/assets/attachments/memoria_fci-2021.pdf" target="_blank">
        <span class="feature-icon"><img src="{{site.baseurl_root}}/assets/images/memoria.png"></span>
        <div class="feature-text">
          <h5>{% t about_fci.content.item_memoria2021%}</h5>
        </div>
      </a>
    </div>
  </div>

  <div class="column width-3">
    <div class="feature-column small left horizon"
      data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="1">
      <a href="{{site.baseurl_root}}/assets/attachments/memoria_fci-2022.pdf" target="_blank">
        <span class="feature-icon"><img src="{{site.baseurl_root}}/assets/images/memoria.png"></span>
        <div class="feature-text">
          <h5>{% t about_fci.content.item_memoria2022 %}</h5>
        </div>
      </a>
    </div>
  </div>

  <div class="column width-3">
    <div class="feature-column small left horizon"
      data-animate-in="preset:slideInRightShort;duration:1000ms;delay:200ms;" data-threshold="1">
      <a href="{{site.baseurl_root}}/assets/attachments/memoria_fci-2023.pdf" target="_blank">
        <span class="feature-icon"><img src="{{site.baseurl_root}}/assets/images/memoria.png"></span>
        <div class="feature-text">
          <h5>{% t about_fci.content.item_memoria2023 %}</h5>
        </div>
      </a>
    </div>
  </div>
</div>

</div>

</div>
