 <!-- Content -->
<div class="content clearfix">
   <!-- Intro nos financian End -->
   <div class="section-block intro-title-1 small bkg-black">
      <div class="row">
         <div class="column width-12">
            <div class="title-container">
               <div class="title-container-inner">
                  <h2 class="title-large color-white mb-50 center"> {% t funding.title %} </h2>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Intro nos financian End -->
   <!-- financiacion -->
   <div class="section-block grid-filter-options pt-50 pb-50">
      <div class="row">
         <div class="column width-12">
            <div class="table-responsive">
            
            <table id="financiamiento" class="table table-striped">
               <thead>
                     <tr class="table-center">
                     <th class="left ">{% t funding.table_title %}</th>
                     <th style="word-wrap: break-word;">2011</th>
                     <th>2012</th>
                     <th>2013</th>
                     <th>2014</th>
                     <th>2015</th>
                     <th>2016</th>
                     <th>2017</th>
                     <th>2018</th>
                     <th>2019</th>
                     <th>2020</th>
                     <th>2021</th>
                     <th>2022</th>
                     <th>2023</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>Global Initiative for Economic, Social, and Cultural Rights (GI-ESCR)</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">20.000</td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Avina</td>
                     <td></td>
                     <td></td>
                     <td class="table-center">8.200</td>
                     <td class="table-center">5.200</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">29.777</td>
                  </tr>
                  <tr>
                     <td>Hivos</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">64.852</td>
                     <td class="table-center">180.747</td>
                     <td></td>
                     <td class="table-center">6.714</td>
                     <td class="table-center">7.107</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Financiamiento DAL</td>
                     <td></td>
                     <td class="table-center">7.000</td>
                     <td class="table-center">11.700</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Google</td>
                     <td class="table-center">60.000</td>
                     <td class="table-center">250.000</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">25.000</td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>MySociety</td>
                     <td></td>
                     <td></td>
                     <td class="table-center">381.500</td>
                     <td class="table-center">444.741</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Luminate/Omidyar Network</td>
                     <td></td>
                     <td class="table-center">150.000</td>
                     <td class="table-center">175.000</td>
                     <td></td>
                     <td class="table-center">249.958</td>
                     <td class="table-center">200.000</td>
                     <td></td>
                     <td class="table-center">174.944</td>
                     <td class="table-center">150.262</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Open Society Foundations*</td>
                     <td class="table-center">245.000</td>
                     <td class="table-center">130.000</td>
                     <td class="table-center">195.400</td>
                     <td class="table-center">199.833</td>
                     <td class="table-center">199.745</td>
                     <td class="table-center">189.907</td>
                     <td class="table-center">190.000</td>
                     <td class="table-center">190.000</td>
                     <td class="table-center">380.000</td>
                     <td class="table-center">80.000</td>
                     <td class="table-center">120.000</td>
                     <td class="table-center">425.000</td>
                     <td class="table-center">200.000</td>
                  </tr>
                  <tr>
                     <td>Open Society Foundations (RLTL)</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">145.927</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Open Society Foundations (ANTP)**</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">50.000</td>
                     <td class="table-center">130.000</td>
                     <td class="table-center">50.000</td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Open Society Foundations (Cuarto de Guerra)**</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">100.000</td>
                  </tr>
                  <tr>
                     <td>National Endowment for Democracy (NED)</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">29.918</td>
                     <td class="table-center">91.975</td>
                     <td class="table-center">72.000</td>
                     <td class="table-center">115.000</td>
                     <td class="table-center">99.000</td>
                     <td class="table-center">144.000</td>
                     <td class="table-center">154.000</td>
                     <td class="table-center">110.749</td>
                  </tr>
                  <tr>
                     <td>Prize Award</td>
                     <td class="table-center">14.000</td>
                     <td></td>
                     <td class="table-center">10.000</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>UNICEF</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">2.674</td>
                     <td class="table-center">58.417</td>
                     <td class="table-center">47.411</td>
                     <td class="table-center">2.500</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Naciones Unidas</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">63.958</td>
                     <td></td>
                     <td class="table-center">115.994</td>
                     <td></td>
                     <td class="table-center">136.333</td>
                     <td class="table-center">43.649</td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Unión Europea (UE)**</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">538.127</td>
                     <td class="table-center">61.070</td>
                  </tr>
                  <tr>
                     <td>Banco Mundial</td>
                     <td class="table-center">45.000</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Agencia Española de Cooperación Internacional para el Desarrollo (AECID)**</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">62.431</td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Espacios Abiertos</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">19.886</td>
                     <td class="table-center">38.908</td>
                     <td class="table-center">29.143</td>
                     <td></td>
                     <td class="table-center">13.566</td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>The Engine Room</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">6.000</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Programa de las Naciones Unidas para el Desarrollo (PNUD)</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">15.873</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">35.910</td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Open Government Partnership (OGP)</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">6.500</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Banco Interamericano de Desarrollo (BID)</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">1.094</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>International Budget Partnership</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">7.227</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Fundación para el Desarrollo de la Lib. Ciudadana</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">2.808</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Instituto Mexicano para Competitividad A.C.</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">24.990</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>International Development Research Centre</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">156.516</td>
                     <td class="table-center">62.623</td>
                     <td class="table-center">43.859</td>
                     <td></td>
                     <td class="table-center">5.107</td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Proyecto sobre Organización, Desarrollo, Educación e Investigación (PODER)</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">31.988</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Semah Valencia INC S.A.</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">23.256</td>
                     <td class="table-center">13.830</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Comunidad y Biodiversidad A.C.</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">1.725</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Fundación Internacional y para Iberoamérica de Administración y Políticas Públicas</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">16.959</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Fundación Colunga</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">6.762</td>
                     <td class="table-center">5.963</td>
                     <td></td>
                     <td></td>
                     <td class="table-center">1.165</td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Karibu Foundation</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">19.899</td>
                     <td class="table-center">80.000</td>
                     <td class="table-center">10.000</td>
                     <td></td>
                     <td class="table-center">25.000</td>
                  </tr>
                  <tr>
                     <td>Laboratorio de Gobierno</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">4.027</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>New Social Initiative</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">10.931</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Oxfam</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">27.494</td>
                     <td class="table-center">33.834</td>
                     <td class="table-center">24.410</td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Derechos Digitales</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">6.102</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Friedrich Ebert Stiftung Chile</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">6.584</td>
                     <td class="table-center">11.662</td>
                     <td class="table-center">27.994</td>
                     <td class="table-center">8.862</td>
                     <td class="table-center">12.670</td>
                  </tr>
                  <tr>
                     <td>Grupo Faro</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">10.406</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Fundación Barcelona Wold Capital</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">5.231</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Barcelona Institute of Technology for the Habitat</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">5.241</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>EduIntermedia</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">2.508</td>
                     <td class="table-center">1.464</td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Comunidad Organizaciones Solidarias (ANTP)</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">43.818</td>
                     <td class="table-center">11.099</td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Ahora Nos Toca Participar (OEI)</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">884</td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>We Effect</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">11.087</td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                    <td>Amnistía Internacional México</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">5.403</td>
                     <td></td>
                     <td class="table-center">9.127</td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Gender at Work</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">16.542</td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Red Ciudadana</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">2.121</td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Fundación para la Confianza</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">2.004</td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>Goethe-Institut Chile</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">829</td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>People Powered</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">1.500</td>
                  </tr>
                  <tr>
                     <td>Fundación Instituto Católico Chileno de Migración (INCAMI)</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">3.586</td>
                  </tr>
                  <tr>
                     <td>Arzobispado de Santiago Vicaría de la Pastoral Social / Agencia de la ONU para los Refugiados (ACNUR)</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td ></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">5.738</td>
                  </tr>
                  <tr>
                     <td>Fundación Teatro a Mil</td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td class="table-center">244</td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
               </tbody>
            </table>
            
         </div>
      </div>

      <p class="small" style="font-style:italic;">*USD $380.000 recibidos en 2019 de Open Society Foundations corresponde a un aporte bianual (2019 y 2020) con rendición técnica y financiera anual.</p>
      <p class="small" style="font-style:italic;">**Ciudadanía Inteligente cumple el rol de fiscal sponsor.</p>
      <p style="text-align:justify;">
         El financiamiento de las actividades de la fundación se hace mediante postulaciones con proyectos o programas a fundaciones extranjeras y algunas nacionales que financian estudios, talleres, exposiciones y otras formas de difusión de ideas y trabajos sobre la educación cívica y materias propias del objetivo de la fundación que a estas organizaciones financistas les interesa difundir. Para obtener el financiamiento, la fundación debe ganar esas postulaciones, firmar un contrato en el que se establecen la materia, los objetivos y el trabajo a ejecutar, el plazo para hacerlo, el monto del aporte, los ítems en los cuales se puede gastar, la periodicidad de las rendiciones de cuentas y los informes técnicos de avance parcial y final. También hay algunos contratos menos restrictivos en los ítems de gasto ya que quedan abiertos, pero siempre hay una rendición de cuentas final a la institución financista.
      </p>
   </div>

</div>
<!-- financiacion -->
</div>
