<!-- Content -->
<div class="content clearfix">
<!-- Fullscreen Slider Section -->
<section class="section-block featured-media window-height tm-slider-parallax-container">
   <div class="tm-slider-container full-width-slider" data-featured-slider data-parallax data-scale-under="960" data-scale-min-height="500">
      <ul class="tms-slides">
         <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.4">
            <div class="tms-content">
               <div class="tms-content-inner center v-align-middle">
                  <div class="row">
                     <div class="column width-12">
                        <h4 class="text-uppercase color-white mb-10">
                           <span class="tms-caption" data-animate-in="preset:slideInDownShort;duration:1000ms;delay:200;" data-no-scale>{% t join.title %}</span>
                        </h4>
                     </div>
                     <div class="column width-12">
                        <h3 class="title-large color-white mb-30">
                           <span class="tms-caption color-white" data-animate-in="preset:scaleIn;duration:800ms;delay:200;" data-no-scale>{% t join.subtitle %}</span>
                        </h3>
                     </div>
                  </div>
                  <div class="row">
                     <div class="column width-12">
                        <p class="tms-caption lead weight-regular color-white mb-30 display-responsive" data-animate-in="preset:slideInUpShort;duration:1000ms;delay:200ms;" data-no-scale>
                           {% t join.text %}
                        </p>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSe0ogUrTqokUQKHwoiOfhsOxhChbpFETUEMY-knTr59LwRu-Q/viewform?embedded=true" target="_blank"
                           class="button rounded bkg-colectiva bkg-hover-pink color-white color-hover-white hvr-grow"><span
                           class="icon-mail left"></span>{% t join.form %}</a>
                     </div>
                  </div>
               </div>
            </div>
            <img data-src="{{site.baseurl_root}}/assets/images/join.jpg" data-retina src="" alt="" />
         </li>
      </ul>
   </div>
</section>
<!-- Fullscreen Slider Section End -->
<!-- Postula section -->

<section class="section-block right show-media-column-on-mobile bkg-white">
  {% assign internship = site.data.internship %}
  {% for i in internship %}
     {% if i.lang == site.lang %}
       {% if i.active %}
       <div class="row pb-50">
          <div class="column width-6">
             <div class="grid-item grid-sizer">
                <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
                   <a class="overlay-link" href="{{ i.application_link }}" target="_blank">
                      <img src="{{site.baseurl_root}}/assets/images/searching/{{i.img}}" alt="" />
                      <div class="caption-over-outer">
                         <div class="caption-over-inner center color-white">
                            <h2 class="title-medium left">{{i.title}}</h2>
                         </div>
                      </div>
                   </a>
                </div>
             </div>
          </div>
          <div class="column width-6">
             <div class="split-hero-content">
                <div class="hero-content-inner left horizon" data-animate-in="preset:turnInLeft;duration:1000ms;" data-threshold="0.7">
                   <p class="lead weight-regular mb-20 font-alt-2">{{i.summary}}</p>
                   <p class="mb-20">{{i.description}}</p>
                   <div class="column width-12">
                      <ul>
                        {% for skill in i.skills %}
                         <li><span class="icon-check"></span>{{skill}}</li>
                        {% endfor %}
                      </ul>
                   </div>
                    <a target="_blank" href="{{ i.application_link }}" class="button rounded bkg-colectiva bkg-hover-pink color-white color-hover-white hvr-grow">{% t join.form %}</a>
                </div>
             </div>
          </div>
     </div>
     {% endif %}
    {% endif %}
  {% endfor %}



</section>
<!-- Postula section End -->
