
<!-- Titulo mapa -->
<div id="language" data-lang={{site.lang}}> </div>
<div id="blog" class="section-block pb-50 bkg-white">
    <div class="row">
        <div class="column width-12 offset-0 center">
            <h2 class="mb-0 hvr-underline-from-center">{% t projects.map.title %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="column width-12 center pt-50">
            <div id="map"> </div>
        </div>
    </div>
</div>
