<!-- Content -->
<div class="content clearfix">
    <!-- Full Width Slider Section -->
    <section class="section-block featured-media page-intro tm-slider-parallax-container">
        <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140">
            <ul class="tms-slides">
                <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.35">
                    <div class="tms-content">
                        <div class="tms-content-inner center">
                            <div class="row">
                                <div class="column width-12">
                                    <h1 class="tms-caption title-large color-white mb-10 color-white" data-animate-in="preset:scaleOut;duration:1000ms;" data-no-scale>
                                        {% t our_documents.title %}
                                    </h1>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img data-src="{{site.baseurl_root}}/assets/images/blog/EAD.png" data-retina src="" alt="" />
                </li>
            </ul>
        </div>
    </section>
    <!-- Full Width Slider Section -->


    <!-- Section Our Campaign -->
    <section class="section-block center">
      
       <!-- Information Section -->
        <div class="row">
            <div class="column width-12">
                <h2 class="mb-30">{% t our_documents.title_2 %}</h2>
                <p>{% t our_documents.description_our_document_1 %}</p>
                <p>{% t our_documents.description_our_document_2 %}</p>
            </div>
        </div>



        <!-- Campaign Content -->
       <!--  <div class="row mt-30">
            <div class="column width-12">
                <div class="row content-grid-4 campanasfci">
                    {% assign campaignrrss = site.our_campaign %} {% for campaignrrss in campaignrrss %} {% if {{campaignrrss.lang}} == {{site.lang}} %}
                    <a href="#{{ campaignrrss.modalname }}" rel="modal:open">
                        <div class="grid-item">
                            <div class="thumbnail no-margin-bottom overlay-slide-in-right" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
                                <a href="#{{ campaignrrss.modalname }}" rel="modal:open" class="overlay-link">
                                <img src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.image}}" width="760" height="760" alt="" />
                                <span class="overlay-info">
			<span>
				<span>
						Ver Campaña
				</span>
			</span>
		</span>
                                </a>
                            </div>
                            <div class="info-campaign">
                                <h5 class="name-campaign">{{ campaignrrss.name }}</h5>
                                <a target="_blank" class="boton-descarga" href="{{site.baseurl_root}}/assets/compressed/{{campaignrrss.descarga}}">{{campaignrrss.boton_descarga}} </a>
                            </div>
                        </div>
                    </a>-->

        <!-- Modal -->
       <!-- <div id="{{ campaignrrss.modalname }}" class="modal">
                        <h4 class="name-campaign">{{ campaignrrss.name }}</h4>


                        <div id="{{ campaignrrss.slide_id }}" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.image}}" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item video">
                                    <video src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.video}}" loop controls></video>
                                </div>
                                <div class="carousel-item">
                                    <img src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.image2}}" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item video">
                                    <video src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.video2}}" loop controls></video>
                                </div>
                                <div class="carousel-item">
                                    <img src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.image3}}" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item video">
                                    <video src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.video3}}" loop controls></video>
                                </div>
                                <div class="carousel-item">
                                    <img src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.image4}}" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item video">
                                    <video src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.video4}}" loop controls></video>
                                </div>
                                <div class="carousel-item">
                                    <img src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.image5}}" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item video">
                                    <video src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.video5}}" loop controls></video>
                                </div>
                                <div class="carousel-item">
                                    <img src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.image6}}" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item video">
                                    <video src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.video6}}" loop controls></video>
                                </div>
                                <div class="carousel-item">
                                    <img src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.image7}}" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item video">
                                    <video src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.video7}}" loop controls></video>
                                </div>
                                <div class="carousel-item">
                                    <img src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.image8}}" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item video">
                                    <video src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.video8}}" loop controls></video>
                                </div>
                                <div class="carousel-item">
                                    <img src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.image9}}" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item video">
                                    <video src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.video9}}" loop controls></video>
                                </div>
                                <div class="carousel-item">
                                    <img src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.image10}}" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item video">
                                    <video src="{{site.baseurl_root}}/assets/images/campaignrrss/{{campaignrrss.video10}}" loop controls></video>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#{{ campaignrrss.slide_id }}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
                            <a class="carousel-control-next" href="#{{ campaignrrss.slide_id }}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
                        </div>
                    </div>

                    {% endif %} {% endfor %}
                </div>
            </div>
        </div>-->
        <!-- Campaign End -->
        
        
        
  <div class="row mt-30">
            <div class="column width-12">
                <div class="row content-grid-4 campanasfci">
                   
                    <!-- Incluir campañas -->
                    {% include our-document/cartilla.html %}
                    {% include our-document/policybrief.html %}
                    {% include our-document/redinformacion.html %}
                    {% include our-document/democraciakit.html %}
                    {% include our-document/colectiva.html %}
                    {% include our-document/abrealcaldias.html %}
                    {% include our-document/desconfianza.html %}
                    {% include our-document/estandares.html %}
                    {% include our-document/disenomonitoreo.html %}
                    {% include our-document/innovacion.html %}
                    {% include our-document/labcivico.html %}
                    {% include our-document/cila.html %}
                    {% include our-document/seguridaddigital.html %}
                    {% include our-document/tresjuventudes.html %}
                    {% include our-document/activismodigital.html %}
                    
                </div>
            </div>
        </div>
        

    </section>
    <!--End Information Section -->


    <style>
        .carousel {
            position: relative;
        }

        .carousel.pointer-event {
            -ms-touch-action: pan-y;
            touch-action: pan-y;
        }

        .carousel-inner {
            position: relative;
            width: 100%;
            overflow: hidden;
        }

        .carousel-inner::after {
            display: block;
            clear: both;
            content: "";
        }

        .carousel-item {
            position: relative;
            display: none;
            float: left;
            width: 100%;
            margin-right: -100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transition: -webkit-transform 0.6s ease-in-out;
            transition: transform 0.6s ease-in-out;
            transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
            padding-bottom: 30px;
        }


        .carousel-item video {
            width: 100%;
            height: auto;
        }

        @media (prefers-reduced-motion: reduce) {
            .carousel-item {
                transition: none;
            }
        }

        .carousel-item.active,
        .carousel-item-next,
        .carousel-item-prev {
            display: block;
        }

        .carousel-item-next:not(.carousel-item-left),
        .active.carousel-item-right {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
        }

        .carousel-item-prev:not(.carousel-item-right),
        .active.carousel-item-left {
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }

        .carousel-fade .carousel-item {
            opacity: 0;
            transition-property: opacity;
            -webkit-transform: none;
            transform: none;
        }

        .carousel-fade .carousel-item.active,
        .carousel-fade .carousel-item-next.carousel-item-left,
        .carousel-fade .carousel-item-prev.carousel-item-right {
            z-index: 1;
            opacity: 1;
        }

        .carousel-fade .active.carousel-item-left,
        .carousel-fade .active.carousel-item-right {
            z-index: 0;
            opacity: 0;
            transition: opacity 0s 0.6s;
        }

        @media (prefers-reduced-motion: reduce) {
            .carousel-fade .active.carousel-item-left,
            .carousel-fade .active.carousel-item-right {
                transition: none;
            }
        }

        .carousel-control-prev,
        .carousel-control-next {
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 1;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 15%;
            color: #fff;
            text-align: center;
            opacity: 0.5;
            transition: opacity 0.15s ease;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin: auto;
        }

        @media (prefers-reduced-motion: reduce) {
            .carousel-control-prev,
            .carousel-control-next {
                transition: none;
            }
        }

        .carousel-control-prev:hover,
        .carousel-control-prev:focus,
        .carousel-control-next:hover,
        .carousel-control-next:focus {
            color: #fff;
            text-decoration: none;
            outline: 0;
            opacity: 0.9;
        }

        .carousel-control-prev {
            left: 0;
        }

        .carousel-control-next {
            right: 0;
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            display: inline-block;
            width: 20px;
            height: 20px;
            background: 50% / 100% 100% no-repeat;
        }

        .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
        }

        .carousel-control-next-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
        }

        .carousel-indicators {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 15;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            padding-left: 0;
            margin-right: 15%;
            margin-left: 15%;
            list-style: none;
        }

        .carousel-indicators li {
            box-sizing: content-box;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            width: 30px;
            height: 3px;
            margin-right: 3px;
            margin-left: 3px;
            text-indent: -999px;
            cursor: pointer;
            background-color: #fff;
            background-clip: padding-box;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            opacity: .5;
            transition: opacity 0.6s ease;
        }

        @media (prefers-reduced-motion: reduce) {
            .carousel-indicators li {
                transition: none;
            }
        }

        .carousel-indicators .active {
            opacity: 1;
        }

        .carousel-caption {
            position: absolute;
            right: 15%;
            bottom: 20px;
            left: 15%;
            z-index: 10;
            padding-top: 20px;
            padding-bottom: 20px;
            color: #fff;
            text-align: center;
        }


        .thumbnail .overlay-info,
        .thumbnail img {
            -webkit-transform: translate3d(0, 0, 0) rotate3d(1, 1, 1,
            0deg) scale3d(1, 1, 1);
            transform: translate3d(0, 0, 0) rotate3d(1, 1, 1,
            0deg) scale3d(1, 1, 1);
        }

        body {
            overflow: visible !important;
        }

        .info-campaign {
            margin-top: 20px;
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            text-align: left;
        }

        .info-campaign .name-campaign {
            margin-bottom: 0px;
            padding-bottom: 5px:
        }

        .info-campaign .boton-descarga {
            font-family: "Mulish", sans-serif;
            font-size: 1.3em;
            font-weight: bold;
            line-height: initial;
            margin-top: 5px;
        }

        .campanasfci .grid-item {
            width: 24.6%;
            margin-bottom: 50px;
        }

        .campanasfci {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        @media(max-width:900px) {
            .campanasfci .grid-item {
                width: 49.6%;
            }
        }

        @media(max-width:768px) {
            .campanasfci .grid-item {
                width: 100%;
            }
            
            .jquery-modal{
                padding: 0px!important;
            }
            .modal {
                width: 90%;
                padding: 15px;
                margin-top: 35px;
            }
        }

    </style>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <!-- End Bootstrap -->
