<!-- Content -->
<div class="content clearfix">
    <!-- Full Width Slider Section -->
    <section class="section-block featured-media page-intro tm-slider-parallax-container">
        <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140">
            <ul class="tms-slides">
                <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.35">
              <div class="tms-content">
                        <div class="tms-content-inner right">
                            <div class="row">
                                <div class="column width-12">
                                    <h6 class="tms-caption title-xsmall color-white pt-300" data-animate-in="preset:scaleOut;duration:1000ms;" data-no-scale>
                                        {{ page.caption }}
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>

                {% if page.img %}
                  <img data-src="{{ site.baseurl_root }}/assets/images/blog/{{page.img}}" title="{{ destacada.title }}" class="img-responsive" data-retina src="" />
                {% else %}
                 <img data-src="{{ site.baseurl_root }}/assets/images/blog.jpg" data-retina src="" alt="" />
                {% endif %}
                </li>
            </ul>
        </div>
    </section>
    <!-- Full Width Slider Section -->
