<div id="blog" class="section-block pt-30 pb-0 bkg-white">
   <div class="row">
      <div class="column width-12 center">
         <h3 class="mb-0">{{ include.year }}</h3>
      </div>
   </div>
</div>

<!-- Custom Feature Columns -->
<section class="section-block replicable-content bkg-white">
  <div class="row flex">
    {% assign projects = site.projects %}
    {% for p in projects %}
      {% if {{p.lang}} == {{site.lang}} %}
        {% if p.visible_timeline == true %}
          {% assign year_project = include.year %}
          {% assign projects = p.versions | where:"year", year_project %}
          {% for p in projects %}
  					<div class="column width-6">
  						<div class="feature-column">
  							<h4 class="mb-10">{{ p.name }}</h4>
  							<p>{{ p.description }}</p>
  						</div>
  					</div>
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</section>
<!-- Custom Feature Columns End -->
