<!-- Support Section -->
<div class="section-block logos-1 pt-100 pb-100 bkg-white">
   <div class="row">
      <div class="column width-12">
         <div class="row content-grid-5">
            
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/01.png" alt="{{sponsor.name}}"/>
               </a>
            </div>
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/04.png" alt="{{sponsor.name}}"/>
               </a>
            </div>
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/02.png" alt="{{sponsor.name}}"/>
               </a>
            </div>
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/03.png" alt="{{sponsor.name}}"/>
               </a>
            </div>
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/10.png" alt="{{sponsor.name}}"/>
               </a>
            </div>
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/12.png" alt="{{sponsor.name}}"/>
               </a>
            </div>
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/13.png" alt="{{sponsor.name}}"/>
               </a>
            </div>
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/16.png" alt="{{sponsor.name}}"/>
               </a>
            </div>   
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/18.png" alt="{{sponsor.name}}"/>
               </a>
            </div>
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/20.png" alt="{{sponsor.name}}"/>
               </a>
            </div>
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/21.png" alt="{{sponsor.name}}"/>
               </a>
            </div>
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/23.png" alt="{{sponsor.name}}"/>
               </a>
            </div>
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/25.png" alt="{{sponsor.name}}"/>
               </a>
            </div>
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/26.png" alt="{{sponsor.name}}"/>
               </a>
            </div>
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/27.png" alt="{{sponsor.name}}"/>
               </a>
            </div>
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/30.png" alt="{{sponsor.name}}"/>
               </a>
            </div>
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/28.png" alt="{{sponsor.name}}"/>
               </a>
            </div>
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/31.png" alt="{{sponsor.name}}"/>
               </a>
            </div>
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/29.png" alt="{{sponsor.name}}"/>
               </a>
            </div>
            <div class="grid-item">
               <a class="horizon" data-animate-in="preset:scaleIn;duration:300ms;">
               <img src="{{site.baseurl_root}}/assets/images/sponsors/32.png" alt="{{sponsor.name}}"/>
               </a>
            </div>
            
         </div>
      </div>
   </div>
</div>
</div>
<!-- Support Section -->
<!-- Financiacion-->
<div class="section-block call-to-action-2 bkg-grey-ultralight pt-70 pb-70">
   <div class="row flex">
      <div class="column width-12 center v-align-middle">
         <div class="call-to-action-content">
            <div class="call-to-action-content-inner horizon" data-animate-in="preset:slideInRightShort;">
               <p class="pt-5 mb-0 mb-mobile-20 inline weight-semi-bold color-theme">{% t about_fci.content.funding %}</p>
               <a href="{{ site.baseurl }}/funding"
                  class="button rounded bkg-colectiva bkg-hover-pink color-white color-hover-white hvr-grow">{% t about_fci.content.funding_view %}</a>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Financiacion end -->
<!-- Lealtad -->
<div class="section-block signup-2 lealtad left middle">
  <div class="media-overlay bkg-black opacity-02"></div>
  <div>
    <div class="row">
      <div class="column width-12 horizon" data-animate-in="preset:slideInUpShort;duration:1200ms;delay:200ms;" data-threshold="0.5">
        <div class="hero-content">
          <div class="hero-content-inner bottom center">
            <div class="signup-form-container">
              <div class="row">
                <div class="column width-12">
                    <img src="{{site.baseurl_root}}/assets/images/lealtad/logo-lealtad.png" alt=""/><br><br>
                  <h2 class="mb-10 color-white">{% t lealtad.text %}</h2>
                  <a href="{{site.baseurl_root}}/assets/attachments/estandar-de-transparencia-y-buenas-practicas-fci.pdf" target="_blank"
                     class="button rounded bkg-colectiva bkg-hover-pink color-white color-hover-white hvr-grow"><span
                     class="icon-eye left"></span>{% t lealtad.documentation %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
