---
layout: campaign
---

<div id="informe" class="section-block bkg-grey-ultralight">
  <div class="row">
    <div class="column width-10 offset-1 align-center pt-40">
      <h2 class="mulish mb-30" style="font-weight:400;">
         {{page.summary}}
      </h2>
      <p class="lead">¿Cómo se evaluan las candidaturas de Gabriel Boric y José Antonio Kast respecto de si son o no una amenza para nuestra democracia? Infórmate en nuestro estudio basado en el test de Litmus que desarrollan Levitsky & Ziblatt (2018) en su libro Cómo Mueren las Democracias.</p>
      <p class="spacemono" style="text-transform:uppercase;font-size:1.3rem;font-weight:600;"><span><a class="blue" href="#metodologia">Revisa el informe y descarga la base de datos del estudio <span class="icon-arrow-down"></span></a></span></p>
     </div>
  </div>
</div>


<div id="informe" class="section-block bkg-grey-ultralight">
<a href="{{ site.url }}/assets/images/slides/semaforo2.jpg" target="_blank"><img src="{{ site.url }}/assets/images/slides/semaforo2.jpg" width="100%" height="100%" alt="" /></a>

<a href="{{ site.url }}/assets/images/slides/semaforo3.jpg" target="_blank"><img src="{{ site.url }}/assets/images/slides/semaforo3.jpg" width="100%" height="100%" alt="" /></a>
</div>


<div class="section-block bkg-grey-ultralight pt-70">
  <div id="metodologia" class="row">
    <div class="column width-10 align-center offset-1 pt-40">
      <h2 class="mb-50">INFORME SEMÁFORO AUTORITARIO</h2>
    </div>
    <div class="column width-10 offset-1 pt-40">
      <div class="row">
        <div class="column width-6">
          <p>Nuestro estudio tiene como objetivo aplicar el marco teórico desarrollado por Levitsky y Ziblatt (2018) para identificar señales que indiquen si estamos en presencia de un liderazgo autoritario que puede poner en riesgo la vida democrática una vez electo. En esta ocasión analizaremos a los dos candidatos presidenciales de la segunda vuelta en Chile: Gabriel Boric y José Antonio Kast.</p>
        </div>
        <div class="column width-6">
          <p>Para esto utilizaremos los cuatro indicadores generales sobre los cuáles se evalúan comportamientos discursivos y programáticos de los candidatos. Acá revisamos los programas de gobierno presentados por cada candidato y sus respectivas modificaciones de cara a la segunda vuelta, así como también los debates televisados durante la campaña, entrevistas en prensa, discursos de campaña y los mensajes que los mismos candidatos escribieron en la red social Twitter desde el 23 de agosto fecha en que inscribieron oficialmente sus candidaturas presidenciales hasta el viernes 10 de diciembre de 2021.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="column width-10 align-center offset-1">
    <!-- <a href="https://ciudadaniai.org/assets/attachments/metodologia-informe-covid19-mayo.pdf" target="_blank" class="button rounded bkg-green-blue bkg-hover-green color-white color-hover-white hvr-grow">Revisa la metodología</a> -->
    <a href="https://ciudadaniai.org/assets/attachments/informe-semaforo-autoritario-2021.pdf" target="_blank" class="button rounded bkg-green-blue bkg-hover-green color-white color-hover-white hvr-grow"><span class="icon-database left"></span> Descarga el Informe</a>
    <a href="{{ site.url }}/assets/attachments/semaforoautoritario-bd.pdf" target="_blank" class="button rounded bkg-green-blue bkg-hover-green color-white color-hover-white hvr-grow"><span class="icon-clipboard left"></span> Descarga la Base de Datos</a>
  </div>
  <dv>
</div>

<div class="section-block pt-70">
  <div class="row">
    <div class="column width-8 align-center offset-2 pt-40">
      <h2 class="mb-50">¿Por qué lo hacemos?</h2>
    </div>
    <div class="column width-10 offset-1">
      <p>En Ciudadanía Inteligente vemos con preocupación la autocratización de democracias consolidadas y los retrocesos en DDHH que se observan a nivel global con el avance de liderazgos disruptivos como el de Trump en EE.UU, o con el extremismo de Morawiecki en Polonia, y Orban en Hungría. A nivel regional también es posible identificar posturas claramente antidemocráticas en los liderazgos de Chávez y Maduro en Venezuela, de Ortega en Nicaragua, Bolsonaro en Brasil y más recientemente de Bukele en El Salvador y López Obrador en México.
      </p>
      <p>Estas crisis se manifiestan en el aumento generalizado de la desconfianza hacia los partidos políticos, cuya incapacidad para dar respuesta a las demandas de los electorados ha contribuido al surgimiento de severas crisis de representación. Por ejemplo, los quiebres de sistemas de partidos, el aumento de los sentimientos anti-establishment y/o anti-elite, en donde muchas candidaturas independientes que surgen desde afuera de la política tradicional encuentran una oportunidad para llegar al poder. En diferentes lugares del mundo, observamos líderes que recurren a este tipo de estrategias discursivas autoritarias para ganar el apoyo popular, al tiempo que sientan las bases para poner en riesgo la democracia.
      </p>
      <p>En ese sentido, es que como organización queremos hacer lo que esté a nuestro alcance para contribuir al fortalecimiento democrático. Por ello, es que queremos entregarle a la ciudadanía una herramienta clara y sencilla que permita distinguir entre aquellos liderazgos que pueden significar un riesgo de degradación de la democracia liberal y aquellos que no.
      </p>
    </div>
    <div class="column width-8 align-center offset-2">
      <p class="spacemono blue pt-40" style="font-size:2rem;font-weight:600;"><span>En tiempos de incertidumbre nos mueve una sola certeza: juntas y juntos somos más fuertes.</span></p>
    </div>
  </div>
</div>

<div class="section-block bkg-grey-ultralight">
  <div class="row">
    <div class="column width-8 align-center offset-2">
      <p class="spacemono" style="text-transform:uppercase;font-size:1.3rem;font-weight:600;">AGRADECEMOS A VICTORIA REYES, PAZ MONSALVE, DIEGO TAPIA, CESAR FLORES, ALEXANDRA SEPÚLVEDA POR SU TRABAJO COMO PASANTES Y VOLUNTARIOS EN LA INVESTIGACIÓN DE ESTE ESTUDIO. TAMBIÉN AGRADECEMOS A JULIETA SUÁREZ, FEDERICA SÁNCHEZ, OCTAVIO DEL FAVERO, CATALINA BALLA, COLOMBINA SCHAEFFER, MARÍA LUIZA FREIRE, FELIPE PERRY, PAULINA VASCONCELO, ABEL ESCOBAR, QUIENES SON PARTE DEL EQUIPO DE CIUDADANÍA INTELIGENTE Y QUE HICIERON POSIBLE ESTE TRABAJO.</p>
    </div>
  </div>
</div>


{{ content }}
