---
layout: default
---

   {% capture title %}
       {% translate blog.title %}
   {% endcapture %}

   {% include hero-image.html image="/assets/images/blog.jpg" title=title %}


   <!-- Full Width Slider Section -->
   <!-- Content Inner -->
   <div class="section-block content-inner pt-100 pb-10">
      <div class="blog-masonry grid-container fade-in-progressively" data-layout-mode="masonry" data-grid-ratio="1.5" data-animate-resize data-animate-resize-duration="700">
         <div class="row">
            <div class="column width-12">
               <div class="row grid content-grid-2 clearfix">
                  {% for post in paginator.posts %}
                  <div class="grid-item">
                     <article class="post">
                        <div class="post-info-aside">
                           <span class="post-date">
                           <span class="day">{{post.day}}</span>
                           <span class="month">{{ post.month}}</span>
                           </span>
                        </div>
                        <div class="post-content">
                           <div class="post-media">
                              <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.5">
                                 {% if post.img %}
                                   <a class="overlay-link" href="{{ post.url | prepend: site.baseurl }}">
                                     <img src="{{site.baseurl_root}}/assets/images/blog/{{post.img}}" alt="{{ destacada.title }}" title="{{ destacada.title }}" />
                                     <span class="overlay-info">
                                       <span>
                                         <span>
                                           <span>{% t blog.more %}</span>
                                          </span>
                                       </span>
                                     </span>
                                   </a>
                                 {% else %}
                                   <div class="no-image-header"></div>
                                 {% endif %}
                              </div>
                           </div>
                           <div class="with-background">
                              {% if post.categories %} {% for category in post.categories %}
                              <div class="post-info">
                                 <span class="post-date hide show-on-mobile">{{ post.date}}</span><span class="post-category">{{ category }}</span>
                              </div>
                              {% endfor %} {% endif %}
                              <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | truncate: 100, ""}}</a></h2>
                              <p>{{ post.intro | truncate: 112, ""}}</p>
                              <a href="{{ post.url | prepend: site.baseurl }}" class="read-more hvr-underline-from-center">{% t blog.more %}</a>
                           </div>
                        </div>
                     </article>
                  </div>
                  {% endfor %}
                  <div class="grid-item grid-sizer"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- Pagination links -->
   <div class="section-block pagination-3 pt-40 pb-40">
      <div class="row">
         <div class="column width-12">
            <ul>
               <li>
                  {% if paginator.previous_page %}
                  <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pagination-previous">
                  <span class="icon-left-open-mini left"></span> {% t blog.previous %}
                  </a>
                  {% else %}
                  <a class="pagination-previous disabled" href="#">
                  <span class="icon-left-open-mini left"></span> {% t blog.previous %}
                  </a>
                  {% endif %}
               </li>
               <li>
                  {% if paginator.next_page %}
                  <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="pagination-next">
                  {% t blog.next %}
                  <span class="icon-right-open-mini right"></span>
                  </a> {% else %}
                  <a href="" class="pagination-next disabled">
                  {% t blog.next %}
                  <span class="icon-right-open-mini right"></span>
                  </a> {% endif %}
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>
