/**
 * Fonts:
 *  1. Space Mono [https://fonts.google.com/specimen/Space+Mono]
 *  2. Mulish https://fonts.google.com/specimen/Mulish
 */



// 1. Space Mono https://fonts.google.com/specimen/Space+Mono
@font-face {
  font-family: 'Space Mono', monospace;
  src: url('fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} // SpaceMono-Regular

@font-face {
  font-family: 'Space Mono', monospace;
  src: url('fonts/Space_Mono/SpaceMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
} // SpaceMono-Italic

@font-face {
  font-family: 'Space Mono', monospace;
  src: url('fonts/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
} // SpaceMono-Bold

@font-face {
  font-family: 'Space Mono', monospace;
  src: url('fonts/Space_Mono/SpaceMono-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
} // SpaceMono-BoldItalic



// 2. Mulish https://fonts.google.com/specimen/Mulish
@font-face {
  font-family: 'Mulish', sans-serif;
  src: url('fonts/Mulish/Mulish-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
} // Mulish-Light

@font-face {
  font-family: 'Mulish', sans-serif;
  src: url('fonts/Mulish/Mulish-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
} // Mulish-LightItalic

@font-face {
  font-family: 'Mulish', sans-serif;
  src: url('fonts/Mulish/Mulish-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
} // Mulish-Regular

@font-face {
  font-family: 'Mulish', sans-serif;
  src: url('fonts/Mulish/Mulish-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
} // Mulish-Italic

@font-face {
  font-family: 'Mulish', sans-serif;
  src: url('fonts/Mulish/Mulish-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
} // Mulish-Medium

@font-face {
  font-family: 'Mulish', sans-serif;
  src: url('fonts/Mulish/Mulish-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
} // Mulish-MediumItalic

@font-face {
  font-family: 'Mulish', sans-serif;
  src: url('fonts/Mulish/Mulish-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
} // Mulish-SemiBold

@font-face {
  font-family: 'Mulish', sans-serif;
  src: url('fonts/Mulish/Mulish-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
} // Mulish-SemiBoldItalic

@font-face {
  font-family: 'Mulish', sans-serif;
  src: url('fonts/Mulish/Mulish-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
} // Mulish-Bold

@font-face {
  font-family: 'Mulish', sans-serif;
  src: url('fonts/Mulish/Mulish-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
} // Mulish-BoldItalic
