<!-- Campaña-->
                    <div class="grid-item">
                        <div class="thumbnail no-margin-bottom overlay-slide-in-right" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
                            <a href="#lcen-lanzamiento" rel="modal:open" class="overlay-link">
                        <img src="{{ site.url }}/assets/images/campaignrrss/lcen-lanzamiento/lcen-lanzamiento-1.png" width="760" height="760" alt="" />
                        <span class="overlay-info">
			                <span>
				               <span>
						            Ver Campaña
				               </span>
			                </span>
		                </span>
                    </a>
                        </div>
                        <div class="info-campaign">
                            <h5 class="name-campaign">Lanzamiento: La Constitución es Nuestra</h5>
                            <a target="_blank" class="boton-descarga" href="https://gitlab.com/ciudadaniai/campanas/-/raw/main/lcen-lanzamiento.zip">Descarga la campaña acá y ayudanos a difundir</a>
                        </div>
                    </div>

                    <!-- Modal Campaña-->
                    <div id="lcen-lanzamiento" class="modal">
                        <h4 class="name-campaign">Lanzamiento: La Constitución es Nuestra</h4>

                       <!-- Slide de imagenes - Campaña-->
                        <div id="lcen-lanzamiento-slide" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/lcen-lanzamiento/lcen-lanzamiento-1.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/lcen-lanzamiento/lcen-lanzamiento-2.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item video">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/lcen-lanzamiento/lcen-lanzamiento-3.png" width="760" height="760" alt="" >
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/lcen-lanzamiento/lcen-lanzamiento-5.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/lcen-lanzamiento/lcen-lanzamiento-6.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/lcen-lanzamiento/lcen-lanzamiento-7.png" width="760" height="760" alt="" />
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ site.url }}/assets/images/campaignrrss/lcen-lanzamiento/lcen-lanzamiento-8.png" width="760" height="760" alt="" />
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#lcen-lanzamiento-slide" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
                            <a class="carousel-control-next" href="#lcen-lanzamiento-slide" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
                        </div>
                    </div>
                    <!-- Fin Campaña -->
