---
layout: default
---

{% capture title %}
  {{ page.title }}
{% endcapture %}

{% include hero-image.html image="/assets/images/blog.jpg" title=title %}

<div class="section-block pt-50 pb-0">
  <div class="row">
    <div class="column width-12">
      <ul class="breadcrumb mb-50">
        <li>
          <a href="{{ site.baseurl }}/index">Inicio</a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/blog">Blog</a>
        </li>
        <li>
          {{page.title}}
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="section-block content-inner pt-100 pb-10">

   <div class="blog-masonry grid-container fade-in-progressively" data-layout-mode="masonry" data-grid-ratio="1.5" data-animate-resize data-animate-resize-duration="700">
      <div class="row">
         <div class="column width-12">
            <div class="row grid content-grid-2 clearfix">
              {% for post in site.posts %}
                {% if post.categories contains page.title %}
                 <div class="grid-item">
                    <article class="post">
                       <div class="post-info-aside">
                          <span class="post-date">
                          <span class="day">{{post.day}}</span>
                          <span class="month">{{ post.month}}</span>
                          </span>
                       </div>
                       <div class="post-content">
                          <div class="post-media">
                             <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.5">
                                {% if post.img %}
                                  <a class="overlay-link" href="{{ post.url | prepend: site.baseurl }}">
                                    <img src="{{site.baseurl_root}}/assets/images/blog/{{post.img}}" alt="{{ destacada.title }}" title="{{ destacada.title }}" />
                                    <span class="overlay-info">
                                      <span>
                                        <span>
                                          <span>{% t blog.more %}</span>
                                         </span>
                                      </span>
                                    </span>
                                  </a>
                                {% else %}
                                  <div class="no-image-header"></div>
                                {% endif %}
                             </div>
                          </div>
                          <div class="with-background">
                             {% if post.categories %} {% for category in post.categories %}
                             <div class="post-info">
                                <span class="post-date hide show-on-mobile">{{ post.date}}</span><span class="post-category">{{ category }}</span>
                             </div>
                             {% endfor %} {% endif %}
                             <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | truncate: 100, ""}}</a></h2>
                             <p>{{ post.intro | truncate: 112, ""}}</p>
                             <a href="{{ post.url | prepend: site.baseurl }}" class="read-more hvr-underline-from-center">{% t blog.more %}</a>
                          </div>
                       </div>
                    </article>
                 </div>
                {% endif %}
               {% endfor %}
               <div class="grid-item grid-sizer"></div>
            </div>
         </div>
      </div>
   </div>
</div>
