{%- include head.html -%}
{%- include header.html -%}
<body class="home-page">
   <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P95HT6PQ"
   height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
   <!-- End Google Tag Manager (noscript) -->
   <div class="wrapper">
      {{ content }}
   </div>
</body>
{% include newsletter.html %}
{%- include footer.html -%}
</html>
