<!-- About Content Section -->
 <div class="section-block replicable-content pt-0">
    <div class="row">
       <div class="column width-12 center">
          <h2 class="mb-0 hvr-underline-from-center pt-40">
             {% t about_fci.content.ciudadania_numeros.title %}
          </h2>
       </div>
    </div>
 </div>

 <div class="section-block pt-0 stats-3 center">
    <div class="row">
       <div class="column width-12">
          <div class="row content-grid-3 flex">
             <div class="grid-item mega-stat v-align-middle">
                <div class="stat">
                   <div class="stat-inner">
                      <h5 class="mb-20">
                         {% t about_fci.content.ciudadania_numeros.organizaciones_title %}
                      </h5>
                      <p class="counter weight-bold blue"><span class="stat-counter" data-count-from="000"
                         data-count-to="100" data-count-interval="001">{% t about_fci.content.ciudadania_numeros.organizaciones_counter %}</span>+
                      </p>
                      <p class="description mt-10">
                         {% t about_fci.content.ciudadania_numeros.organizaciones_description %}
                      </p>
                   </div>
                </div>
             </div>
             <div class="grid-item mega-stat v-align-middle">
                <div class="stat">
                   <div class="stat-inner">
                     <h5 class="mb-20">
                      {% t about_fci.content.ciudadania_numeros.herramientas_title %}</h6>
                      <p class="counter weight-bold blue"><span class="stat-counter" data-count-from="000"
                         data-count-to="181" data-count-interval="001">{% t about_fci.content.ciudadania_numeros.herramientas_counter %}</span>
                      </p>
                      <p class="description mt-10">
                         {% t about_fci.content.ciudadania_numeros.herramientas_description %}
                      </p>
                   </div>
                </div>
             </div>
             <div class="grid-item mega-stat v-align-middle">
                <div class="stat">
                   <div class="stat-inner">
                     <h5 class="mb-20">
                         {% t about_fci.content.ciudadania_numeros.paises_title %}
                      </h5>
                      <p class="counter weight-bold blue"><span class="stat-counter" data-count-from="00"
                         data-count-to="13" data-count-interval="01">{% t about_fci.content.ciudadania_numeros.paises_counter %}</span>
                      </p>
                      <p class="description mt-10">
                         {% t about_fci.content.ciudadania_numeros.paises_description %}
                      </p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

 <div class="section-block pt-0 stats-3 center">
    <div class="row">
       <div class="column width-12">
          <div class="row content-grid-3 flex">
             <div class="grid-item mega-stat v-align-middle">
                <div class="stat">
                   <div class="stat-inner">
                     <h5 class="mb-20">
                         {% t about_fci.content.ciudadania_numeros.activistas_formados_title %}
                      </h5>
                      <p class="counter weight-bold blue"><span class="stat-counter" data-count-from="0000"
                         data-count-to="1650" data-count-interval="0025">{% t about_fci.content.ciudadania_numeros.activistas_formados_counter %}</span>+
                      </p>
                      <p class="description mt-10">
                         {% t about_fci.content.ciudadania_numeros.activistas_formados_description %}
                      </p>
                   </div>
                </div>
             </div>
             <div class="grid-item mega-stat v-align-middle">
                <div class="stat">
                   <div class="stat-inner">
                     <h5 class="mb-20">
                         {% t about_fci.content.ciudadania_numeros.personas_title %}
                      </h5>
                      <p class="counter weight-bold blue"><span class="stat-counter" data-count-from="598750"
                         data-count-to="600000" data-count-interval="000125" data-count-interval="0065">{% t about_fci.content.ciudadania_numeros.personas_counter %}</span>+
                      </p>
                      <p class="description mt-10">
                         {% t about_fci.content.ciudadania_numeros.personas_description %}
                      </p>
                   </div>
                </div>
             </div>
             <div class="grid-item mega-stat v-align-middle">
                <div class="stat">
                   <div class="stat-inner">
                     <h5 class="mb-20">
                         {% t about_fci.content.ciudadania_numeros.seguidores_rrss_title %}
                      </h5>
                      <p class="counter weight-bold blue"><span class="stat-counter" data-count-from="198750"
                         data-count-to="200000" data-count-interval="000125">{% t about_fci.content.ciudadania_numeros.seguidores_rrss_counter %}</span>+
                      </p>
                      <p class="description mt-10">
                         {% t about_fci.content.ciudadania_numeros.seguidores_rrss_description%}
                      </p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
