<!-- Content -->
<div class="content clearfix">
   <!-- Full Width Slider Section -->
   <section class="section-block featured-media window-height tm-slider-parallax-container">
      <div class="tm-slider-container full-width-slider" data-parallax data-parallax-fade-out data-animation="slide" data-scale-under="1140" data-scale-min-height="500">
         <ul class="tms-slides">
           {% assign slides = site.data.slides %}
           {% for s in slides %}
              {% if s.lang == site.lang %}
                <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.35">
                  <div class="tms-content">
                      <div class="tms-content-inner center v-align-middle">
                         <div class="row">
                           <div class="column width-10 offset-1">
                            <h1 class="title-large color-white mb-30">
                              <span class="tms-caption" data-animate-in="preset:slideInDownShort;duration:800ms;delay:200;" data-no-scale>{{s.title}}</span>
                            </h1>
                            <h2 class="title-large color-white mb-30" style="font-weight:400;">
                               <span class="tms-caption" data-animate-in="preset:slideInDownShort;duration:800ms;delay:200;" data-no-scale>{{s.subtitle}}</span>
                            </h2>
                            <div class="tms-caption" data-animate-in="duration:1000ms;delay:400ms;">
                            {% for b in s.buttons %}
                              <a {{b.target}} href={{b.link}} class="button rounded {{b.style }} color-white color-hover-white hvr-grow">{{b.text}}</a>
                            {% endfor %}
                            </div>
                           </div>
                         </div>
                      </div>
                    </div>
                    {% capture image_path %}/assets/images/slides/{{ s.img }}{% endcapture %}
                    <img data-src="{{ image_path | prepend:site.baseurl_root }}" data-retina src="" alt="" />
                </li>
              {% endif %}
           {% endfor %}

         </ul>
      </div>
   </section>
</div>
