<!-- intagram -->
<div class="section-block pb-0 bkg-white">
  <div class="row">
     <div class="column width-12 center">
        <a href="https://www.instagram.com/ciudadaniai/"><h2 class="mb-50 hvr-underline-from-center"> {% t home.instagram.title %}</h2></a>
     </div>
  </div>
</div>
<!-- <div class="section-block pt-0 pb-50">
    <div class="row full-width collapse">
        <div class="column width-12 center">
          <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/3d116f525ab151cc83013f015755f50d.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
        </div>
    </div>
</div> -->
<!-- instagram End -->
</div>
<!-- Content End -->
