<!-- Documento-->
<div class="grid-item">
    <div class="thumbnail no-margin-bottom overlay-slide-in-right" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
        <a href="https://gitlab.com/ciudadaniai/2022/-/raw/main/manual-lab-civico.pdf" class="overlay-link" target="_blank">
    <img src="{{ site.url }}/assets/attachments/documents/labcivico.png" height="400px" alt="" />
    <span class="overlay-info">
        <span>
           <span>
                Leer
           </span>
        </span>
    </span>
</a>
    </div>
    <div class="info-campaign">
        <h5 class="name-campaign">LabCívico - Manual Metodológico</h5>
        <a target="_blank" class="boton-descarga" href="https://gitlab.com/ciudadaniai/2022/-/raw/main/manual-lab-civico.pdf">Descarga el documento</a>
    </div>
</div>
<!-- Fin Documento -->